@media(max-width:760px){
    h1 {
        font-size: 30px;
    }

    footer h3 {
        font-size: 10px;
     
     }

     .portfolio h2{
         font-size: 25px;
     }

     .header li{
        font-size: 15px;
     }
}