*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}

.header {
     /* background-color: #51637F; */
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* background-image: url(../img/main.jpg); */
     background-size: cover;
     background-position: center;
}
.header nav{
    position: absolute;
    padding-bottom: 90vh;
}
.header ul{
    display: flex;
    align-items: center;
    justify-items: center;
}
.header li{
    display: block;
    padding: 0 20px;
    font-size: 20px;
    text-transform:uppercase;
}
.header li a{
    text-decoration: none;
    color: whitesmoke;
}
.header ul:hover li a{
    filter: blur(3px);
}

.header ul:hover li a:hover{
    color: #2be779;
    filter: blur(0px);
}
.header-subtitle{
    font-size: 26px;
    color: #2be779;
}
.banner-tick{
    font-size: 36px;
    color: #2be779;
}

.none {
  display: none;
}

.container {
   max-width: 1110px;
   margin: 0 auto;
}

body,h1,p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: #fff;
}

.subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 25px;
}

.header-arrow{
    position: absolute;
    bottom: 0;
}


 /* Портфолио */
main{
    padding-bottom: 70px;
}

.portfolio h2{
    font-weight: bold;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin: 70px;
}
.portfolio a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 20px;
    transition: all 0.2s ease-in-out ;
  

}
.portfolio a:hover{
    color: rgb(20, 109, 224);
    transform: translateY(-15px);

}

.card{
    background-color: #fff;
    max-width: 540px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 15px;
 }

.card a {
    text-decoration: none;
    color: #000000;
}

 .card p{
    font-size: 16px;
    line-height: 130%;
 }

 footer {
     width: 100%;
    background-color: #1E4776;
    padding-top: 53px;
    padding-bottom: 129px;
    color: #ffffff;

 }
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-block {
    position: relative; 
    max-width: 350px;
 }

 footer h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
 }
 
.footer-copy {
    color: #7E9EC9;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
}

.footer-icons img {
    padding-right: 35px;
}

.footer-btn {
    max-width: 270px;
    padding: 15px 30px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 15px;
    transition: all 0.2s linear ;
}
button:hover{
    background-color: #ffffff;
    color: #1E4776;
    /* transform: translateY(-15px); */
}
/* .block{
    width: 800px;
    height: 400px;
    background-color: #000;
}


@media (max-width:800px){
    .block{
        width: 400px;
        background-color: rgb(175, 35, 35);
    }

}

@media (max-width:600px){
    .block{
        width: 300px;
        background-color: rgb(34, 139, 165);
    }} */





@media screen and (max-width: 1080px) {
    .card{
        max-width: 360px;
        width: 100%;
        margin-bottom: 30px;
       
    }
    .card-wrapper {
        justify-content: center;
    }
   
}

@media screen and (max-width: 980px) {

    footer {
        align-content: center;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        flex-flow: column-reverse;
    }
    
    .footer-block {
        margin-bottom: 20px;
        text-align: center;
        
    }

}